@import './variables.scss';
$images-path: '../assets/images/';

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --ascent-color: #{$ascent-color};
  --primary-font-color: #{$primary-font-color};
  --secondary-font-color: #{$secondary-font-color};

  --primary-font: #{$primary-font};
  --secondary-font: #{$secondary-font};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a,
a:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.dark-section {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.light-section {
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
}

.dark-section,
.light-section {
  width: 100%;
  padding: 60px 0;
}

.section-title {
  font-family: var(--secondary-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.order-button {
  display: flex;
  height: 60px;
  min-width: 200px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  text-align: center;
  background: var(--primary-color);
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--ascent-color);
    color: var(--secondary-font-color);
  }
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: var(--primary-color);
    width: 100%;
  }

  &__logo {
    width: 20px;
    height: 20px;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__nav-item {
    color: var(--primary-font-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--ascent-color);
    }
  }
}

.hero {
  &__content {
    display: flex;
    gap: 40px;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 20px;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    transform: rotate(-90deg);
    white-space: nowrap;

    &-line {
      width: 1px;
      // height: 536px;
      flex: 1 0 0;
      background-color: var(--primary-font-color);
    }

    &:first-child {
      height: 153px;
    }

    &:last-child {
      height: 29px;
    }
  }

  &__right-side {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-left: 20px;
  }

  &__title-content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100%;
    // padding-top: 100px;

    &-top {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 100px 0 160px;

      &-stats {
        display: flex;
        gap: 60px;

        &-item {
          display: flex;
          gap: 9px;

          &-number {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;

            div {
              font-family: var(--primary-font);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }
          }

          span {
            font-family: var(--secondary-font);
            font-size: 48px;
            font-style: normal;
            font-weight: 300;
            line-height: 54px;
            text-transform: uppercase;
          }
        }
      }

      &-maintitle {
        max-width: 740px;

        h1 {
          font-family: var(--secondary-font);
          // font-size: 116px;
          font-size: 7.25rem;
          font-style: normal;
          font-weight: 300;
          line-height: 132px;
          text-transform: uppercase;
        }
      }

      &-subtitle {
        h3 {
          font-family: var(--secondary-font);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          text-transform: uppercase;
        }
      }
    }

    &-bottom {
      display: flex;
      gap: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      span {
        font-family: var(--primary-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      &-arrow {
        width: 24px;
        height: 24px;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        color: var(--ascent-color);

        .hero__title-content-bottom-arrow {
          filter: brightness(0) saturate(100%) invert(42%) sepia(85%) saturate(2807%) hue-rotate(336deg)
            brightness(100%) contrast(108%);
        }
      }
    }
  }

  &__secondary-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      flex: 1 0 0;
      aspect-ratio: 1/1;
      width: 220px;
      // background: url(/assets/images/img-10.webp) lightgray 50% / cover no-repeat;

      img {
        max-height: 220px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__primary-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-content {
      max-width: 280px;
      max-height: 374px;
    }

    &-text {
      font-family: var(--primary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      max-width: 220px;
      align-self: flex-end;
      text-align: end;
    }
  }
}

.about {
  &__content {
    display: flex;
    gap: 40px;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 440px;
      width: 100%;

      img {
        max-height: 440px;
        object-fit: cover;
        object-position: center;
      }

      &-text {
        font-family: var(--primary-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

.portfolio {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    max-width: 1440px;

    &-title {
      font-family: var(--primary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      padding-left: 20px;
    }

    &-subtitle {
      max-width: 360px;
    }

    &-images {
      overflow: hidden;

      &-slider {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        transform: translateX(-84.7%);

        &-item {
          &.item-type-1 {
            padding-top: 120px;
            img {
              width: 400px;
            }
          }

          &.item-type-2 {
            img {
              width: 220px;
              aspect-ratio: 1/1;
              object-fit: cover;
              object-position: center;
            }
          }

          &.item-type-3 {
            padding-bottom: 40px;
            img {
              width: 280px;
            }
          }

          &.item-type-4 {
            padding-bottom: 120px;
            img {
              width: 400px;
            }
          }

          &.item-type-5 {
            padding-bottom: 280px;
            img {
              width: 280px;
            }
          }
        }
      }
    }
  }
}

.price {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-title {
      font-family: var(--primary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    &-cards {
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        width: 320px;
        height: 501px;
        border: 1px solid var(--primary-color);
        padding: 24px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          border: 1px solid var(--ascent-color);

          .order-button {
            background-color: var(--ascent-color);
            color: var(--secondary-font-color);
          }
        }

        &-info {
          display: flex;
          flex-direction: column;
          gap: 12px;

          &-type {
            font-family: var(--secondary-font);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            text-transform: uppercase;
          }

          &-list {
            display: flex;
            flex-direction: column;
            gap: 4px;

            li {
              font-family: var(--primary-font);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;

              &::before {
                content: '';
                top: 3px;
                display: inline-block;
                width: 6px;
                height: 6px;
                background-color: var(--primary-color);
                margin-right: 6px;
                margin-bottom: 3px;
              }
            }
          }

          &-price {
            font-family: var(--secondary-font);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
          }
        }

        &-description {
          display: flex;
          flex-direction: column;
          gap: 12px;

          p {
            font-family: var(--primary-font);
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 20px;
          }

          button {
            width: 100%;
          }
        }
      }
    }
  }
}

.faq {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    &-title {
      font-family: var(--primary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      flex: 1;
    }

    &-questions {
      display: flex;
      flex-direction: column;
      flex: 1;

      &-item {
        display: flex;
        flex-direction: column;
        // border-bottom: 1px solid var(--secondary-color);

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--secondary-color);
        }

        &.active {
          .faq__content-questions-item-question-icon {
            background: url(/assets/icons/minus.svg) center / cover no-repeat;
          }

          .faq__content-questions-item-answer {
            display: block;
          }
        }

        &-question {
          display: flex;
          justify-content: space-between;
          font-family: var(--secondary-font);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          text-transform: uppercase;
          padding: 19px 0 16px 0;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--ascent-color);

            .faq__content-questions-item-question-icon {
              filter: brightness(0) saturate(100%) invert(42%) sepia(85%) saturate(2807%) hue-rotate(336deg)
                brightness(100%) contrast(108%);
            }
          }

          &-icon {
            width: 24px;
            height: 24px;
            background: url(/assets/icons/plus.svg) center / cover no-repeat;
            cursor: pointer;

            // &.active {
            //   background: url(/assets/icons/minus.svg) center / cover no-repeat;
            // }
          }
        }

        &-answer {
          display: none;
          font-family: var(--primary-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          padding-bottom: 19px;
        }
      }
    }
  }
}

.footer {
  &__content {
    display: flex;
    flex-direction: column;

    &-top {
      background-color: var(--secondary-color);
      padding: 40px 0 20px 0;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      &-title {
        h3 {
          font-family: var(--secondary-font);
          color: var(--primary-color);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          text-transform: uppercase;
        }
      }

      &-form {
        display: flex;
        justify-content: center;
        gap: 8px;
        width: 100%;

        input {
          display: flex;
          max-width: 380px;
          width: 100%;
          height: 62px;
          padding: 0 12px;
          align-items: center;
          border: 1px solid var(--primary-color);
          background: var(--secondary-color);
          font-family: var(--secondary-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &::placeholder {
            font-family: var(--secondary-font);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            color: #989898;
          }

          &:focus {
            outline: none;
            border: 1px solid var(--ascent-color);
          }

          &:active {
            outline: none;
            border: 1px solid var(--ascent-color);
          }

          &:hover {
            border: 1px solid var(--ascent-color);
          }
        }
      }
    }

    &-bottom {
      background-color: var(--primary-color);
      padding: 38px 0;

      &-nav {
        &-list {
          display: flex;
          justify-content: center;
          gap: 40px;

          li {
            a {
              color: var(--primary-font-color);
              font-family: var(--secondary-font);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              text-transform: uppercase;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
            }

            &:hover {
              a {
                color: var(--ascent-color);
              }
            }
          }
        }
      }
    }
  }
}
