:root {
  --primary-color: #222222;
  --secondary-color: #ffffff;
  --ascent-color: #FF3C3C;
  --primary-font-color: #ffffff;
  --secondary-font-color: #222222;
  --primary-font: Mulish, sans-serif;
  --secondary-font: Oswald, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a,
a:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.dark-section {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.light-section {
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
}

.dark-section,
.light-section {
  width: 100%;
  padding: 60px 0;
}

.section-title {
  font-family: var(--secondary-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.order-button {
  display: flex;
  height: 60px;
  min-width: 200px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  text-align: center;
  background: var(--primary-color);
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.order-button:hover {
  background-color: var(--ascent-color);
  color: var(--secondary-font-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--primary-color);
  width: 100%;
}
.header__logo {
  width: 20px;
  height: 20px;
}
.header__nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 40px;
}
.header__nav-item {
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__nav-item:hover {
  color: var(--ascent-color);
}

.hero__content {
  display: flex;
  gap: 40px;
}
.hero__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 20px;
}
.hero__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.hero__subtitle-line {
  width: 1px;
  flex: 1 0 0;
  background-color: var(--primary-font-color);
}
.hero__subtitle:first-child {
  height: 153px;
}
.hero__subtitle:last-child {
  height: 29px;
}
.hero__right-side {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left: 20px;
}
.hero__title-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hero__title-content-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0 160px;
}
.hero__title-content-top-stats {
  display: flex;
  gap: 60px;
}
.hero__title-content-top-stats-item {
  display: flex;
  gap: 9px;
}
.hero__title-content-top-stats-item-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.hero__title-content-top-stats-item-number div {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.hero__title-content-top-stats-item span {
  font-family: var(--secondary-font);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 54px;
  text-transform: uppercase;
}
.hero__title-content-top-maintitle {
  max-width: 740px;
}
.hero__title-content-top-maintitle h1 {
  font-family: var(--secondary-font);
  font-size: 7.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 132px;
  text-transform: uppercase;
}
.hero__title-content-top-subtitle h3 {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.hero__title-content-bottom {
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.hero__title-content-bottom span {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.hero__title-content-bottom-arrow {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}
.hero__title-content-bottom:hover {
  color: var(--ascent-color);
}
.hero__title-content-bottom:hover .hero__title-content-bottom-arrow {
  filter: brightness(0) saturate(100%) invert(42%) sepia(85%) saturate(2807%) hue-rotate(336deg) brightness(100%) contrast(108%);
}
.hero__secondary-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__secondary-photo-content {
  flex: 1 0 0;
  aspect-ratio: 1/1;
  width: 220px;
}
.hero__secondary-photo-content img {
  max-height: 220px;
  object-fit: cover;
  object-position: center;
}
.hero__primary-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__primary-photo-content {
  max-width: 280px;
  max-height: 374px;
}
.hero__primary-photo-text {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 220px;
  align-self: flex-end;
  text-align: end;
}

.about__content {
  display: flex;
  gap: 40px;
}
.about__content-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 440px;
  width: 100%;
}
.about__content-item img {
  max-height: 440px;
  object-fit: cover;
  object-position: center;
}
.about__content-item-text {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: 1440px;
}
.portfolio__content-title {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}
.portfolio__content-subtitle {
  max-width: 360px;
}
.portfolio__content-images {
  overflow: hidden;
}
.portfolio__content-images-slider {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  transform: translateX(-84.7%);
}
.portfolio__content-images-slider-item.item-type-1 {
  padding-top: 120px;
}
.portfolio__content-images-slider-item.item-type-1 img {
  width: 400px;
}
.portfolio__content-images-slider-item.item-type-2 img {
  width: 220px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.portfolio__content-images-slider-item.item-type-3 {
  padding-bottom: 40px;
}
.portfolio__content-images-slider-item.item-type-3 img {
  width: 280px;
}
.portfolio__content-images-slider-item.item-type-4 {
  padding-bottom: 120px;
}
.portfolio__content-images-slider-item.item-type-4 img {
  width: 400px;
}
.portfolio__content-images-slider-item.item-type-5 {
  padding-bottom: 280px;
}
.portfolio__content-images-slider-item.item-type-5 img {
  width: 280px;
}

.price__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.price__content-title {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.price__content-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.price__content-cards-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 320px;
  height: 501px;
  border: 1px solid var(--primary-color);
  padding: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.price__content-cards-item:hover {
  border: 1px solid var(--ascent-color);
}
.price__content-cards-item:hover .order-button {
  background-color: var(--ascent-color);
  color: var(--secondary-font-color);
}
.price__content-cards-item-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.price__content-cards-item-info-type {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.price__content-cards-item-info-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.price__content-cards-item-info-list li {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.price__content-cards-item-info-list li::before {
  content: "";
  top: 3px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  margin-right: 6px;
  margin-bottom: 3px;
}
.price__content-cards-item-info-price {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.price__content-cards-item-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.price__content-cards-item-description p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
}
.price__content-cards-item-description button {
  width: 100%;
}

.faq__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.faq__content-title {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  flex: 1;
}
.faq__content-questions {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.faq__content-questions-item {
  display: flex;
  flex-direction: column;
}
.faq__content-questions-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
}
.faq__content-questions-item.active .faq__content-questions-item-question-icon {
  background: url(/assets/icons/minus.svg) center/cover no-repeat;
}
.faq__content-questions-item.active .faq__content-questions-item-answer {
  display: block;
}
.faq__content-questions-item-question {
  display: flex;
  justify-content: space-between;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding: 19px 0 16px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.faq__content-questions-item-question:hover {
  color: var(--ascent-color);
}
.faq__content-questions-item-question:hover .faq__content-questions-item-question-icon {
  filter: brightness(0) saturate(100%) invert(42%) sepia(85%) saturate(2807%) hue-rotate(336deg) brightness(100%) contrast(108%);
}
.faq__content-questions-item-question-icon {
  width: 24px;
  height: 24px;
  background: url(/assets/icons/plus.svg) center/cover no-repeat;
  cursor: pointer;
}
.faq__content-questions-item-answer {
  display: none;
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 19px;
}

.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__content-top {
  background-color: var(--secondary-color);
  padding: 40px 0 20px 0;
}
.footer__content-top .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer__content-top-title h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.footer__content-top-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.footer__content-top-form input {
  display: flex;
  max-width: 380px;
  width: 100%;
  height: 62px;
  padding: 0 12px;
  align-items: center;
  border: 1px solid var(--primary-color);
  background: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer__content-top-form input::placeholder {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #989898;
}
.footer__content-top-form input:focus {
  outline: none;
  border: 1px solid var(--ascent-color);
}
.footer__content-top-form input:active {
  outline: none;
  border: 1px solid var(--ascent-color);
}
.footer__content-top-form input:hover {
  border: 1px solid var(--ascent-color);
}
.footer__content-bottom {
  background-color: var(--primary-color);
  padding: 38px 0;
}
.footer__content-bottom-nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer__content-bottom-nav-list li a {
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.footer__content-bottom-nav-list li:hover a {
  color: var(--ascent-color);
}