:root {
  --primary-color: #222222;
  --secondary-color: #ffffff;
  --primary-font-color: #ffffff;
  --secondary-font-color: #222222;
  --primary-font: Mulish, sans-serif;
  --secondary-font: Oswald, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a,
a:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.dark-section {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.light-section {
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
}

.dark-section,
.light-section {
  width: 100%;
  padding: 60px 0;
}

.section-title {
  font-family: var(--secondary-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--primary-color);
  width: 100%;
}
.header__logo {
  width: 20px;
  height: 20px;
}
.header__nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 40px;
}
.header__nav-item {
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
}

.hero__content {
  display: flex;
  gap: 40px;
}
.hero__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 20px;
}
.hero__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.hero__subtitle-line {
  width: 1px;
  flex: 1 0 0;
  background-color: var(--primary-font-color);
}
.hero__subtitle:first-child {
  height: 153px;
}
.hero__subtitle:last-child {
  height: 29px;
}
.hero__right-side {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left: 20px;
}
.hero__title-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hero__title-content-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0 160px;
}
.hero__title-content-top-stats {
  display: flex;
  gap: 60px;
}
.hero__title-content-top-stats-item {
  display: flex;
  gap: 9px;
}
.hero__title-content-top-stats-item-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.hero__title-content-top-stats-item-number div {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.hero__title-content-top-stats-item span {
  font-family: var(--secondary-font);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 54px;
  text-transform: uppercase;
}
.hero__title-content-top-maintitle {
  max-width: 740px;
}
.hero__title-content-top-maintitle h1 {
  font-family: var(--secondary-font);
  font-size: 7.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 132px;
  text-transform: uppercase;
}
.hero__title-content-top-subtitle h3 {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.hero__title-content-bottom {
  display: flex;
  gap: 8px;
}
.hero__title-content-bottom span {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.hero__title-content-bottom-arrow {
  width: 24px;
  height: 24px;
}
.hero__secondary-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__secondary-photo-content {
  flex: 1 0 0;
  aspect-ratio: 1/1;
  width: 220px;
}
.hero__secondary-photo-content img {
  max-height: 220px;
  object-fit: cover;
  object-position: center;
}
.hero__primary-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__primary-photo-content {
  max-width: 280px;
  max-height: 374px;
}
.hero__primary-photo-text {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 220px;
  align-self: flex-end;
  text-align: end;
}

.about__content {
  display: flex;
  gap: 40px;
}
.about__content-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 440px;
  width: 100%;
}
.about__content-item img {
  max-height: 440px;
  object-fit: cover;
  object-position: center;
}
.about__content-item-text {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: 1440px;
}
.portfolio__content-title {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}
.portfolio__content-subtitle {
  max-width: 360px;
}
.portfolio__content-images {
  overflow: hidden;
}
.portfolio__content-images-slider {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  transform: translateX(-84.7%);
}
.portfolio__content-images-slider-item.item-type-1 {
  padding-top: 120px;
}
.portfolio__content-images-slider-item.item-type-1 img {
  width: 400px;
}
.portfolio__content-images-slider-item.item-type-2 img {
  width: 220px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.portfolio__content-images-slider-item.item-type-3 {
  padding-bottom: 40px;
}
.portfolio__content-images-slider-item.item-type-3 img {
  width: 280px;
}
.portfolio__content-images-slider-item.item-type-4 {
  padding-bottom: 120px;
}
.portfolio__content-images-slider-item.item-type-4 img {
  width: 400px;
}
.portfolio__content-images-slider-item.item-type-5 {
  padding-bottom: 280px;
}
.portfolio__content-images-slider-item.item-type-5 img {
  width: 280px;
}